<!-- Ortak Headar İmport -->
<%- include("partials/_header")%>
<title>E-Ticaret</title>
<!--css Codes-->
<link rel="stylesheet" href="css/style.css">
<body>
<!-- Ortak Headar İmport -->
<%- include("partials/_menu")%>

    <!--    Home Page   -->

    <section id="hero">
        <h4>Harika Kampanyalar</h4>
        <h1>Ve Süpriz Hediyeler</h2>
        <p>Kaçırılmayacak fırsatlar tüm ürenlerde %20'den başlayan indirim!</p>
        <button>Alışverişe Başla</button>
    </section>
   
    <section id="feature" >
        <div class="fe-box">
            <img src="images/features/f1.png" alt="">
            <h6>Ücretsiz Alışveriş</h6>
        </div>
        <div class="fe-box">
            <img src="images/features/f2.png" alt="">
            <h6>Hızlı Kargo</h6>
        </div>
        <div class="fe-box">
            <img src="images/features/f3.png" alt="">
            <h6>Güvenli Alışveriş</h6>
        </div>
        <div class="fe-box">
            <img src="images/features/f4.png" alt="">
            <h6>Promosyonlar</h6>
        </div>
        <div class="fe-box">
            <img src="images/features/f5.png" alt="">
            <h6>Mutlu Müşteriler</h6>
        </div>
        <div class="fe-box">
            <img src="images/features/f6.png" alt="">
            <h6>7/24 Destek Hattı</h6>
        </div>
    </section>

    <section id="product">
        <h2>Size Özel Ürünler</h2>
        <p>En Yeni Modellerimiz</p>
        <div class="pro-contanier">
            <% for (product of products) { %>
                <div class="pro">
                    <a href="/<%=product._id%>">
                    <img src="<%=product.productImageUrl1%>" alt="">
                </a>
                    <div class="description">
                        <span><%=product.productCategory%></span>
                        <h5><%=product.productName%></h5>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <h4><%=product.productPrice%> &#x20BA;</h4>
                    </div>
                    <a href="#"><i class="fa-solid fa-cart-shopping cart"></i></a>
                </div>
                <% } %>
            </div>
    </section>

    <section id="banner">
        <h4>Kalitenin Ve Ucuzluğun Buluştuğu Adres</h4>
        <h2>Alışverişin Adresi <span>Dumlupınar</span> Dilediğin Ürün En Uygun Fiyata</h2>
        <button class="normal">Daha Fazlasını Keşfet</button>
    </section>

    <section id="product">
        <h2>En Son Çıkan Ürünler</h2>
        <p>En Yeni Modellerimiz</p>
        <div class="pro-contanier">
            <div class="pro">
                <img src="images/products/n1.jpg" alt="">
                <div class="description">
                    <span>Adidas</span>
                    <h5>Kısa Kollu SlimFit T-shirts</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>78 TL</h4>
                </div>
                <a href="#"><i class="fa-solid fa-cart-shopping cart"></i></a>
            </div>
            <div class="pro">
                <img src="images/products/n2.jpg" alt="">
                <div class="description">
                    <span>Adidas</span>
                    <h5>Kısa Kollu SlimFit T-shirts</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>78 TL</h4>
                </div>
                <a href="#"><i class="fa-solid fa-cart-shopping cart"></i></a>
            </div>
            <div class="pro">
                <img src="images/products/n3.jpg" alt="">
                <div class="description">
                    <span>Adidas</span>
                    <h5>Kısa Kollu SlimFit T-shirts</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>78 TL</h4>
                </div>
                <a href="#"><i class="fa-solid fa-cart-shopping cart"></i></a>
            </div>
            <div class="pro">
                <img src="images/products/n4.jpg" alt="">
                <div class="description">
                    <span>Adidas</span>
                    <h5>Kısa Kollu SlimFit T-shirts</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>78 TL</h4>
                </div>
                <a href="#"><i class="fa-solid fa-cart-shopping cart"></i></a>
            </div>
            <div class="pro">
                <img src="images/products/n5.jpg" alt="">
                <div class="description">
                    <span>Adidas</span>
                    <h5>Kısa Kollu SlimFit T-shirts</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>78 TL</h4>
                </div>
                <a href="#"><i class="fa-solid fa-cart-shopping cart"></i></a>
            </div>
            <div class="pro">
                <img src="images/products/n6.jpg" alt="">
                <div class="description">
                    <span>Adidas</span>
                    <h5>Kısa Kollu SlimFit T-shirts</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>78 TL</h4>
                </div>
                <a href="#"><i class="fa-solid fa-cart-shopping cart"></i></a>
            </div>
            <div class="pro">
                <img src="images/products/n7.jpg" alt="">
                <div class="description">
                    <span>Adidas</span>
                    <h5>Kısa Kollu SlimFit T-shirts</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>78 TL</h4>
                </div>
                <a href="#"><i class="fa-solid fa-cart-shopping cart"></i></a>
            </div>
            <div class="pro">
                <img src="images/products/n8.jpg" alt="">
                <div class="description">
                    <span>Adidas</span>
                    <h5>Kısa Kollu SlimFit T-shirts</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>78 TL</h4>
                </div>
                <a href="#"><i class="fa-solid fa-cart-shopping cart"></i></a>
            </div>
        </div>
    </section>

    <section id="small-banner">
        <div class="sm-banner-box">
            <h4>Çılgın Fırsatlar</h4>
            <h2>1 Alana 1 Bedava</h2>
            <span>Lorem ipsum dolor sit.</span>
            <button class="normal">Daha Fazlası</button>
        </div>
        <div class="sm-banner-box sm-banner-box2">
            <h4>Çılgın Fırsatlar</h4>
            <h2>1 Alana 1 Bedava</h2>
            <span>Lorem ipsum dolor sit.</span>
            <button class="normal">Daha Fazlası</button>
        </div>
    </section>

    <section id="banner3">
        <div class="sm-banner-box">
            <h2>Sezon İndirimleri</h2>
            <h3>Kış Koleksiyonlarında %30 İNİDİRİM!</h3>
        </div>
        <div class="sm-banner-box sm-banner-box2">
            <h2>Yeni Koleksiyonlar</h2>
            <h3>Sonbahar/Kış 2023</h3>
        </div>
        <div class="sm-banner-box sm-banner-box3">
            <h2>T-SHIRTS</h2>
            <h3>En Son Moda Ürünler</h3>
        </div>
    </section>

    <section id="newsletters">
        <div class="newstext">
            <h4>Yeni Ürünleri & Kampanyaları İlk Sen Öğren</h4>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Libero, at.</p>
        </div>
        <div class="form">
            <input placeholder="Mail Adresinizi Girin Fırsatlardan Haberdar Olun">
            <button class="normal">Onayla</button>
        </div>
    </section>
  <!--  Ortak Footer İmport -->
  <%-include("partials/_footer")%>

  <script src="/js/active.js"></script>
  <!--Start of Tawk.to Script-->
<script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/64099ec44247f20fefe4dd83/1gr2p8c0q';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
    })();
    </script>
    <!--End of Tawk.to Script-->
</body>
</html>