<!-- Ortak Headar İmport -->
<%- include("partials/_header")%>
<title>Product</title>
<!--css Codes-->
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="/css/shop.css">
<body>
    
<!-- Ortak Headar İmport -->
<%- include("partials/_menu")%>

    <!--HomePage-->
    <section id="prodetails">
        <div class="single-pro-img">
            <img src="<%=product.productImageUrl1%>" width="100%" id="MainImg" alt="">
            <div class="small-img-group">
                <div class="small-img-col">
                    <img src="<%=product.productImageUrl1%>" width="100%" class="small-img" alt="">
                </div>
                <div class="small-img-col">
                    <img src="<%=product.productImageUrl3%>" width="100%" class="small-img" alt="">
                </div>
                <div class="small-img-col">
                    <img src="<%=product.productImageUrl4%>" width="100%" class="small-img" alt="">
                </div>
                <div class="small-img-col">
                    <img src="<%=product.productImageUrl5%>" width="100%" class="small-img" alt="">
                </div>
            </div>
        </div>
        <div class="single-pro-details">
            <h6><%=product.productCategory%> / T-Shirt</h6>
            <h4><%=product.productName%></h4>
            <h2><%=product.productPrice%> &#x20BA;</h2>
            <select >
                <option>Beden Seçin</option>
                <option>XL</option>
                <option>Large</option>
                <option>Medium</option>
                <option>Small</option>
                <option>XS</option>
            </select>
            <input type="number" value="1">
            <button class="normal">Sepete Ekle</button>
            <h4>Ürün Detayı</h4>
            <p><%=product.productExplanation%></p>
        </div>
    </section>


    <section id="product">
        <h2>Size Uygun Ürünler</h2>
        <p>En Yeni Modellerimiz</p>
        <div class="pro-contanier">
            <% for (product of products) { %>
                <div class="pro">
    
                    <a href="/<%=product._id%>">
                    <img src="<%=product.productImageUrl1%>" alt="">
                </a>
                    <div class="description">
                        <span><%=product.productCategory%></span>
                        <h5><%=product.productName%></h5>
                        <div class="star">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <h4><%=product.productPrice%> &#x20BA;</h4>
                    </div>
                    <a href="#"><i class="fa-solid fa-cart-shopping cart"></i></a>
                </div>
                <% } %>
            </div>
    </section>
    
    <!--HomePage End-->




    <section id="newsletters">
        <div class="newstext">
            <h4>Yeni Ürünleri & Kampanyaları İlk Sen Öğren</h4>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Libero, at.</p>
        </div>
        <div class="form">
            <input placeholder="Mail Adresinizi Girin Fırsatlardan Haberdar Olun">
            <button class="normal">Onayla</button>
        </div>
    </section>
  <!--  Ortak Footer İmport -->
  <%-include("partials/_footer")%>


<script src="/js/active.js"></script>
<script src="/js/smallİmg.js"></script>

</body>
</html>