<!-- Ortak Headar İmport -->
<%- include("partials/_header")%>
<title>Shop</title>
<!--css Codes-->
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="/css/shop.css">
<body>
<!-- Ortak Headar İmport -->
<%- include("partials/_menu")%>

    <!--HomePage-->
    
    <section id="page-header">
        <h2>#bizimMarkamızBizimTarzımız</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    </section>

    <section id="product">
        <h2>Size Özel Ürünler</h2>
        <p>En Yeni Modellerimiz</p>

        <section id="searchItem">
            <div class="form">
                <input type="text" id="search-item" onkeyup="searchItem()" placeholder="Hangi ürüne Bakmıştınız?">
                <button class="normal">Ürün Ara</button>
            </div>
        </section>

        <div class="pro-contanier"id="product-list">
        
            <% for (product of products) { %>
            <div class="pro">
                <a href="/<%=product._id%>">
                <img src="<%=product.productImageUrl1%>" alt="">
            </a>
                <div class="description">
                    <span><%=product.productCategory%></span>
                    <h5><%=product.productName%></h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4><%=product.productPrice%> &#x20BA;</h4>
                </div>
                <a href="#"><i class="fa-solid fa-cart-shopping cart"></i></a>
            </div>
            <% } %>
        </div>
     
    </section>
    
    <section id="page-number">
        <a href="#">1</a>
        <a href="#">2</a>
        <a href="#">3</a>
        <a href="#"><i class="fa-solid fa-arrow-right"></i></a>
    </section>
 
    <!--HomePage End-->




    <section id="newsletters">
        <div class="newstext">
            <h4>Yeni Ürünleri & Kampanyaları İlk Sen Öğren</h4>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Libero, at.</p>
        </div>
        <div class="form">
            <input placeholder="Mail Adresinizi Girin Fırsatlardan Haberdar Olun">
            <button class="normal">Onayla</button>
        </div>
    </section>
  <!--  Ortak Footer İmport -->
  <%-include("partials/_footer")%>
  
  <script src="/js/active.js"></script>
  <script src="/js/searchItem.js"></script>
</body>
</html>